@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image:  url("ressources/images/vivid-blurred-colorful-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


