@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  background-image:  url("ressources/images/vivid-blurred-colorful-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


